# APP ENV
APP_ENV=local

# LOG
LOG_DIR="logs/"
LOG_ROTATE_FILE="rotate"
LOG_MAX_SIZE=10485760
LOG_MAX_FILES=10
LOG_RETENTION_DAYS=30

# Database configuration
DB_TYPE=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=rtp_bridge
DB_USER=root
DB_PASS=password
DB_POOL_MIN=2
DB_POOL_MAX=10
DB_POOL_TIMEOUT=60

# Redis configuration
REDIS_HOST=redis
REDIS_PORT=6379
